:root {
	--color-teal : #00695c;
	--color-black : #212121;
	--color-red : #c62828;
	--color-grey : #757575;
	
	--color-teal-black : #005145;
	/*color: var(--color-teal);*/
	
	--box-large-size: 350px;
	--box-size: 155px;
}

/* Test */



/* Test */

/* Browser CSS */

	/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
	border-radius: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
	border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
	border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Browser CSS */

/*
-----------------------------------------------------------------------------------------------------------------------
								INDEX PAGE
*/


.page-home .block-main {
	display: flex;
	flex-direction: column;
}

.page-home .block-main > .inner {
	width: 1400px;
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}


/* Row */
.page-home .block-main .row {
	display: flex;
}

.page-home .block-main .row > .inner{
	display: flex;
	width: 100%;
	padding: 20px 0;
}

.page-home .block-main .row > .inner > .list-styles{
	display: flex;
	margin: auto;
	width: 100%;
	/*justify-content: space-between;*/
	overflow-x: scroll;
	transition: all .5s ease-in-out;
}

/* Scroll*/
.page-home .block-main .row > .inner > .list-styles::-webkit-scrollbar {
	width: 5px;
	height: 7px;
	padding: 5px 0;
}

.page-home .block-main .row > .inner > .list-styles::-webkit-scrollbar-track {
	
}

.page-home .block-main .row > .inner > .list-styles:hover::-webkit-scrollbar-thumb {
	background: rgba(136, 136, 136, 0.5);
}

.page-home .block-main .row > .inner > .list-styles::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.00);
	
}

.page-home .block-main .row > .inner > .list-styles::-webkit-scrollbar-thumb:hover {
	background: rgba(136, 136, 136, 0.855);
}

.page-home .block-main .row > .inner > .list-styles > li.item-style {
	display: flex;
	margin-right: 30px;
}

.page-home .block-main .row > .inner > .list-styles > li.item-style > a {
	margin: auto;
}


/* Row 3 */

.row-3 > .inner {
	justify-content: space-between;
}

/* Customer box */



.customer-box {
	height: var(--box-large-size);
	width:  var(--box-large-size);
	min-height: var(--box-large-size);;
	max-height: var(--box-large-size);;
	min-width: var(--box-large-size);
	max-width: var(--box-large-size);
	display: inline-block;
	text-decoration: none;
	border-radius: 12px;
	overflow: hidden;
	margin-right: 55px;
	position: relative;
	background-position: 35% center;
	background-repeat: no-repeat;
	background-image: url(../res/img/blue-2705642_1920.jpg);
	background-size: auto 100%;
	transition: background-size .2s ease-out;
}

.customer-box:hover {
	background-size: auto 102%;
}

.customer-box > .inner {
	height: 100%;
	width: 100%;
	display: flex;
	background: rgba(0,0,0,0.5);
}

.customer-box .elements {
	display: flex;
	text-align: center;
	align-items: center;
	margin: auto;
	cursor: pointer;
	flex-direction: column;
}

.customer-box .elements > img {
	margin: 30px 0;
}

.customer-box h1, h2 {
	font-family: 'Calibri', sans-serif;
	font-size: 1.2rem;
}

.customer-box h1 {text-transform: uppercase;}
.customer-box h2 {font-weight: 400;}

.customer-box img {
	width: 55px;
	height: 55px;
}

.customer-box .customer-nav {
	position: absolute;
	top: 50%;
	cursor: pointer;
	transform: translate(0%, -50%);
}

.customer-box .customer-nav.right-arrow {right: 5%;}
.customer-box .customer-nav.left-arrow {left: 5%;}



/* Promo Box */

.promo-box {
	height: 350px;
	width: 100%;
	display: inline-block;
	text-decoration: none;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
	background-position: 35% center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../res/img/living-room-2605530_1920.jpg);
}

.promo-box > .inner {
	padding: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	height: 100%;
	box-sizing: border-box;
	background: rgba(0,0,0,0.33);
}

.promo-box h1 {
	margin: 0 auto;
	font-family: 'Segoe UI', sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	position: absolute;
}

.promo-box .promo-list {
	display: flex;
	margin: auto 0;
	padding-top: 40px;
}

.promo-box .promo-item {
	margin: 0 40px;
}

.promo-box .promo-item a {
	display: inline-block;
}

.promo-box .promo-item .preview {
	height: 150px;
	width: 150px;
	box-sizing: border-box;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

.promo-box .promo-item span {
	font-family: 'Calibri', sans-serif;
}

.promo-box .promo-item .title{
	display: block;
	margin-top: 20px;
}

.promo-box .promo-item .price {
	font-weight: 500;
}

/* Animation */

/* Border Fade */
.promo-box .promo-item a .preview {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 4px transparent, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}
.promo-box .promo-item a:hover .preview, .promo-box .promo-item a:focus, .promo-box .promo-item a:active {
  box-shadow: inset 0 0 0 4px white, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}





/*								
-----------------------------------------------------------------------------------------------------------------------     
								CONNEXION PAGE*/

/* Correction */
.block-header .body_pop-up {
	width: auto !important;
	padding: 25px 40px !important;
}


/* Inscription */

.page-register {
	display: flex;
	background-color: #212121;
}

.main-register {
	margin: auto;
	background: #212121;
	z-index: 2;
	min-width: 350px;
	transform: translate(50%, -50%);
	top: 50%;
	right: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	border-radius: 7px;
}

.main-register > .inner {
	padding: 20px;
}

.main-register .logo {
	display: flex;
	height: 125px;
}

.main-register .logo > img {
	max-width: 75px;
	max-height: 75px;
	margin: auto;
}

.main-register p.error {
	text-align: center;
    color: #E53935;
    font-family: Calibri, 'sans-serif';
    margin-top: 15px;
	display: none;
}

.page-register .overlay {
	position: fixed;
	top: 0;
	right: 0;
	height: 110vh;
	width: 110vw;
	background-image: url(../res/img/japan-2014618_1920.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
	filter: blur(5px);
}

/* Input */

.main-register .registration > div {
	border-bottom: 1px solid grey;
	box-sizing: border-box;
	margin: 20px 0;
}


.main-register .registration > div > p {
	
}

.main-register .registration input {
	background-color: transparent;
	border: none;
	color: white;
	box-sizing: border-box;
	min-width: 200px;
	font-size: 1rem;
	padding: 4px 8px 4px;
}

.main-register .registration input:focus {
	border: none;
	outline: none;
	border-bottom: 2px solid white;
}

.main-register .registration .button {
	margin: 30px auto 15px;
	border: 1px solid var(--color-teal-black);
	height: 45px;
	width: 130px;
}





.pop-up .formulaire {
	
}

.pop-up .formulaire .registration .button {
	margin: 20px auto 0px;
}

.pop-up .registration {
	margin-top: 20px;
	min-width: 300px;
}

.pop-up .registration > div {
	border-bottom: 1px solid grey;
	
}

.pop-up .registration > div > p{
	margin: 0 auto;
	
}

.pop-up .registration input {
	text-align: center;
	width: 100% !important;
	padding: 10px 0;
}

.pop-up .registration p.error {
	text-align: center;
    color: #E53935;
    font-family: Calibri, 'sans-serif';
    margin-top: 5px;
	display: none;
}

.pop-up .registration .reg-file {
	border: none;
	display: flex;
}

/*								CONNEXION PAGE
-----------------------------------------------------------------------------------------------------------------------*/



/*								INDEX PAGE
-----------------------------------------------------------------------------------------------------------------------*/





/*								
-----------------------------------------------------------------------------------------------------------------------     
								ACCOUNT PAGE*/

/* Profile */

:root {
	--profile-size : 250px;
}


.page-account .profile {
	width: 100%;
	position: relative;
	background-color: var(--color-black);
	display: flex;
	box-shadow: 0px 4px 19px #757575;
}

.page-account .profile > .preview {
	width: 100%;
	margin: 0 auto;
	height: 300px;
	max-width: 1920px;
	background-image: url(../res/img/make-up-2137800.jpg);
	background-size: cover;
	background-position: center;
}

.page-account .profile .customer {
	height: var(--profile-size);
	width: var(--profile-size);
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translate(50%, 50%);
	background-image: url(../res/img/blue-2705642_1920.jpg);
	background-size: cover;
	background-position: center;
}


.page-account .block-main {
	display: flex;
	flex-direction: column;
	padding-top: calc(var(--profile-size)*0.75);
	padding-bottom: calc(var(--profile-size)*0.25);
}

.page-account .block-main > .inner {
	margin: auto;
}



/* Boxs */

.page-account .row {
	display: flex;
	justify-content: space-between;
}

.page-account .row > * {
	margin: 35px;
}

.page-account .box.large span.title {
	font-size: 2rem;
}

.page-account .box.large span.sub-title {
	font-size: 1.1rem;
}


/* First Box */

.page-account .box-info {
	overflow: hidden;
	height: var(--box-large-size);
	width: var(--box-large-size);
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.page-account .box-info > div {
	margin: 15px 5px;
}

.page-account .box-info > .separator {
	height: 2px;
	width: 60%;
	background-color: var(--color-teal);
}

.page-account .box-info > div {
	display: flex;
}

.page-account .box-info img  {
	height: 35px;
	fill : var(--color-teal);
}

.page-account .box-info h1, .page-account .box-info h2, .page-account .box-info p{
	color: black;
	font-family: 'Segoe UI', sans-serif;
	padding-left: 5px;
}

.page-account .box-info h1  {
	font-size: 3rem;
	font-weight: 600;
}

.page-account .box-info h2  {
	font-size: 2rem;
	font-weight: 400;
}

.page-account .box-info p  {
	font-family: 'Calibri', sans-serif;
	margin: auto 0;
	padding: 0;
	margin-left: 15px;
	font-size: 1.25rem;
}



/*								ACCOUNT PAGE
-----------------------------------------------------------------------------------------------------------------------*/




/*								
-----------------------------------------------------------------------------------------------------------------------
								CATEGORY PAGE*/





.page-category .style {
	width: 100%;
	height: 350px;
	background-position: 25% center;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 102% auto;
	transition: background-size .4s ease-out;
}

.page-category .style:hover {
	background-size: 100% auto;
}

.page-category .style .inner {
	height: 100%;
	display: flex;
	background-color: rgba(0,0,0,0.33);
	
}

.page-category .style h1{
	margin: auto;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Segoe UI', sans-serif;
	font-size: 2.5rem;
}





/*								CATEGORY PAGE
-----------------------------------------------------------------------------------------------------------------------     */






/*
-----------------------------------------------------------------------------------------------------------------------
								PRODUCT PAGE
*/

.page-product {
	
}

.page-product,
.page-product h2,
.page-product h3,
.page-product h4,
.page-product p{
	color: black;
}

.page-product {
	
}

.page-product .block-main {
	display: flex;
	flex-direction: column;
}

.page-product .block-main > .inner {
	width: 1400px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.page-product .block-main .row {
	display: flex;
}

.page-product .block-main .row > .inner {
	display: flex;
    width: 100%;
    padding: 20px 0;
}

/* Card price */

.page-product .block-main .card {
	border-radius: 10px;
	margin: 25px 0;
    box-shadow: 0px 15px 30px 4px rgba(0,0,0,0.15);
    padding: 25px;
	display: flex;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.page-product .block-main .card > .inner {
	display: flex;
	width: 100%;
}

.page-product .block-main .card .item {
	width: 33%;
	display: flex;
}

/* Title */
.page-product .block-main .card .title {
	flex-direction: column;
	padding-left: 20px;
}

.page-product .block-main .card .title > * {
	color: black;
	font-family: "Calibri", sans-serif;
}

.page-product .block-main .card .title > h2 {
	margin-top: auto;
	margin-bottom: 5px;
	font-size: 1.5rem;
	font-weight: 600;
}

.page-product .block-main .card .title > h3 {
	margin-top: 5px;
	font-weight: 400;
	margin-bottom: auto;
}

/* Price */
.page-product .block-main .card .price {
	margin: auto;
	display: flex;
}

.page-product .block-main .card .price > h1 {
	color: black;
	font-family: "Calibri", sans-serif;
	font-size: 2.5rem;
	font-weight: 500;
}

.page-product .block-main .card .price > h1 > span {
	color: black;
	font-family: "Calibri", sans-serif;
	font-size: 1.75rem;
    position: absolute;
}

/*Button*/
.page-product .block-main .card .add .button {
	margin : auto 10% auto auto;
}




/* Tabs */

.page-product .tabs {
	
}

.page-product .row.comment-descr > .inner {
	display: flex;
	flex-direction: column;
}

.page-product .tabs {
	display: flex;
	background-color: white;
}

/* Tab */
.page-product .content-tab {
	background-color: #fbfbfb;
}

.page-product .tabs > .tab {
	height: 60px;
    width: 120px;
    
    display: flex;
	cursor: pointer;
	border-bottom: 3px solid green;
    box-sizing: border-box;
}

.page-product .tabs > .tab > .inner{
	margin: auto;
    height: 65%;
    display: flex;
    width: 100%;
}

.page-product .tabs .separator{
	height: 45px;
    width: 2px;
    margin: auto 0;
    background-color: green;
}

.page-product .tabs > .tab p{
	margin: auto;
}














/* Slider */
.page-product .slider {
	background-image: none;
	box-shadow: 0px 13px 20px rgba(0,0,0,0.2);
}

.page-product .slider .inner {
	margin: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	height: auto;
}

.page-product .slider > .overlay > .inner {
	transition: background-color .75s ease-in;
}

.page-product .slider .overlay {
	position: relative;
	background-color: rgba(241,241,241,0);
	transition: all .33s ease-in-out;
}

.page-product .slider .overlay h2{
	cursor: default;
	font-weight: 400;
	color: #f1f1f1;
	margin: auto;
}

.page-product .slider .overlay > img {
	position: absolute;
	top: 50%;
	height: 50px;
	transform: translate(0%, -50%);
	cursor: pointer;
	border-radius: 50%;
	width: 50px;
	padding: 10px;
	background-color: rgba(255,255,255, 0);
	transition: background-color .15s ease-in;
}

.page-product .slider .overlay > img:hover {
	background-color: rgba(255,255,255, 0.25);
}

/* Dot */
.page-product .slider .pagination {
	position: absolute;
    display: flex;
    bottom: 0;
	height: 18px;
    right: 50%;
    transform: translate(50%, 0%);
    margin-bottom: 20px;
}

.page-product .slider .dot {
	height: 10px;
	width: 10px;
	margin: auto 3px;
	cursor: pointer;
	border-radius: 50%;
	background-color: rgba(241, 241, 241, 0.5);
	transition: all .15s ease-in-out;
}

.page-product .slider .dot.selected, .page-product .slider .dot:hover {
	background-color: rgba(241, 241, 241, 1);
	height: 12px;
	width: 12px;
}

.page-product .slider .overlay > img.next {
	right: 0;
	margin-right: 50px;
}

.page-product .slider .overlay > img.previous {
	left: 0;
	margin-left: 50px; 
}

.page-product .slider .overlay > img.zoom {
	bottom: 0;
    top: unset;
    left: 0;
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-bottom: 5px;
    transform: translate(0%, 0%);
}

/* Profil */

.page-product .comment {
	margin-top: 30px;
	margin-left: 20px;
	display: flex;
}

.page-product .profile {
	background-image: url(../res/img/blue-2705642_1920.jpg);
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	width:70px;
	height:70px;
	min-width: 70px;
	min-height:70px;
}

.page-product .head {
	display:flex;
}

.page-product > .inner {
	margin-left: 20px;
}

.page-product .name,
.page-product .date,
.page-product .stars-avis {
	margin: auto 20px;
}

.page-product .name {
	margin-left: 0px;
}

.page-product .descr p {
	width: 1200px;
}

.page-product .avis {
	display: flex;
}

.page-product #note {
	width: 500px;
	height: 100px;
	resize: none;
	color: grey;
	border-radius: 10px;
}

.page-product .note_name{
	margin-bottom: 10px;
	margin-top: -20px;
}
.page-product .stars {
	margin-left: 40px;
}

.page-product #bt_add_note {
	margin-top: 20px;
}

.page-product .row_suggestions {
	margin: auto;
}

.page-product .produits-similaires {
	display: flex;
}

.page-product .produit {
	margin :0 30px auto 30px;
}

.page-product .suggestions {
	padding: 30px 0 50px;
	background-color: white;
	width: 1400px;
	margin-bottom: 60px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
}

.page-product .liste-produits {
	display: flex;
	margin: auto;
}

.page-product .titre_suggestions {
	margin-bottom: 35px;
}

.page-product .title {
	max-width: 155px;
	height: 70px;
	font-family: 'Segoe UI', sans-serif;
	font-size: 16px;;
}

.page-product .price {
	font-family: 'Segoe UI', sans-serif;
	font-weight: bold;
}


/* Onglet */

.onglet
        {
                display:inline-block;
                margin-left:3px;
                margin-right:3px;
                padding:3px;
                border:1px solid black;
                cursor:pointer;
        }
        .onglet_0
        {
                background:#bbbbbb;
                border-bottom:1px solid black;
        }
        .onglet_1
        {
                background:#dddddd;
                border-bottom:0px solid black;
                padding-bottom:4px;
        }
        .contenu_onglet
        {
                background-color:#dddddd;
                border:1px solid black;
                margin-top:-1px;
                padding:5px;
                display:none;
        }
        .ul
        {
                margin-top:0px;
                margin-bottom:0px;
                margin-left:-10px
        }
        .h1
        {
                margin:0px;
                padding:0px;
        }






/* Popup */

.page-product .slider > .popup {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	display: none;
	transition: opacity .25s ease-in-out;
}

.page-product .slider > .popup > .overlay {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.page-product .slider > .popup > .inner {
	margin: auto;
	z-index: 9999;
	display: flex;
	width: auto;
	background-color: rgba(0,0,0,0.00);
}

.page-product .slider > .popup > .inner > img {
	max-height: 80vh;
}






/* Comment */



/*								PRODUCT PAGE
-----------------------------------------------------------------------------------------------------------------------     */







/*
-----------------------------------------------------------------------------------------------------------------------
								CART PAGE
*/

.page-cart .block-main h1,
.page-cart .block-main h2,
.page-cart .block-main p {
	color: black;
}

.page-cart {
	
}

.page-cart .block-main {
	display: flex;
}

.page-cart .block-main > .inner  {
	width: 1400px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.page-cart .slider {
	background-image: url(../res/img/basket-2246734_1920.jpg);
}


/* Prix total */
.page-cart .total-price {
	text-align: center;
	margin: 50px auto 50px auto;
	padding: 10px;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 500;
	border-bottom: 1px solid black;
}

.page-cart .total-price span {
	line-height: 16px;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
}



.page-cart .price {
	
}

.page-cart .cart-items-list {
	display: flex;
	flex-direction: column;
}

.page-cart .cart-item {
	margin: 25px 0;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 0px 15px 30px 4px rgba(0,0,0,0.15);
    padding: 25px;
	display: flex;
	height: 150px;
	overflow: hidden;
}

.page-cart .cart-item > .inner{
	display: flex;
	width: 100%;
	position: relative;
}

/* Price */
.page-cart .cart-item .price {
	display: flex;
	margin: 0 25px;
}

.page-cart .cart-item .price h1 {
	margin: auto;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 500;
}

/* Separator */
.page-cart .cart-item .separator {
	width: 2px;
	margin-left: 25px;
	margin-right: 50px;
	background-color: black;
}

/* Preview */
.page-cart .cart-item .preview {
	border-radius: 10px;
	width: 150px;
	height: 150px;
	background-image: url(../res/img/element_2.jpg);
	background-size: cover;
	background-position: center;
}

.page-cart .cart-item .preview:after {
	content: "";
  	display: block;
 	padding-right: 100%;
}

/* Text */

.page-cart .cart-item .text {
	margin-left: 50px;
	padding: 20px 0;
	max-width: 55%;
}

.page-cart .cart-item .text h2 {
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 1.4rem;
}

.page-cart .cart-item .text p {
	font-weight: 400;
	font-size: 1.1rem;
    color: rgba(0,0,0,0.65);
	font-family: 'Calibri', sans-serif;
}

/* Services */

.page-cart .cart-item .services {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
}

.page-cart .cart-item .services .item {
	margin: 0 8px;
}

.page-cart .cart-item .services .item img {
	background-color: var(--color-teal);
    border-radius: 50%;
    padding: 5px;
}

/* Amount */
.page-cart .cart-item .amount {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
}

.page-cart .cart-item .amount p {
	font-weight: 400;
	font-size: 1.1rem;
	font-family: 'Calibri', sans-serif;
}

/* Close */

.page-cart .cart-item .close {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	padding: 5px;
}

.page-cart .command {
	display: flex;
	margin: 75px 0;
}

.page-cart .button {
	margin: auto;
}

/*
								CART PAGE
-----------------------------------------------------------------------------------------------------------------------
*/




/*
-----------------------------------------------------------------------------------------------------------------------
								CHECKOUT PAGE
*/

.page-checkout {
	background-color: #f5f5f5;
}

.page-checkout .block-main {
	display: flex;
    flex-direction: column;
}

.page-checkout .block-main > .inner {
    margin: auto;
    display: flex;
}

/* Slider */
.page-checkout .slider {
	background-image: url(../res/img/euro-pallets-1150267_1920.jpg);
}

.page-checkout .slider > .overlay {
	background-color: rgba(0,0,0,0.4);
}


/* Card */
.page-checkout .card-checkout {
	width: 750px;
    margin: 50px auto;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
	background-color: #ffffff;
    padding: 25px;
}

.page-checkout .card-checkout h1 {
	color: #212121;
	font-weight: 500;
	text-align: center;
	font-family: 'Segoe UI', sans-serif;
	font-size: 1.5rem;
	margin: 25px 0 75px 0;
}

.page-checkout p,
.page-checkout td,
.page-checkout .card-checkout label,
.page-checkout .pay-form input {
	font-family: 'Calibri', sans-serif;
	font-size: 1.1rem;
}

.page-checkout .card-checkout p {
	color: #212121;
	padding: 5px 15px;
	font-weight: 600;
	font-size: 1.2rem;
	font-style: italic;
	
}

.page-checkout .card-checkout .button {
	margin: auto;
}

/* Table */

.page-checkout .articles {
	padding: 20px 20px 35px 35px;
	width: 100%;
}

.page-checkout .articles .label {
	padding: 10px 0 10px 20px;
}

.page-checkout .articles .price {
	font-weight: bold;
	text-align: right;
}

.page-checkout .articles .price span {
	margin-left: 3px;
	font-size: 0.9rem;
}

.page-checkout .articles .total-price p {
	padding-left: 0;
	padding-top: 20px;
}


/* Form card */

.page-checkout .pay-form {
	margin: auto;
	padding: 25px 0;
}

.page-checkout .pay-form .row {
	display: flex;
	margin: 20px 0;
	width: 100%;
}

.page-checkout .pay-form .input {
	display: flex;
	flex-direction: column;
	margin-right: 25px;
}


/* Input style */

.page-checkout .pay-form label {
	margin-bottom: 10px;
}

.page-checkout .pay-form input{
	border: none;
	border-bottom: 1px solid #616161;
	padding: 3px;
}

.page-checkout .pay-form .date input {
	padding: 0;
	padding-bottom: 2px;
}

/* Button */
.page-checkout .pay-form .card_valid {
	display: flex;
}

.page-checkout .pay-form .button {
	height: 35px;
	margin: auto;
	width: auto;
	padding: 0 15px;
	border: 1px solid var(--color-teal-black);
	border-radius: 5px;
}

.page-checkout .command .button {
	margin: 25px auto;
}

.page-checkout .pay-form .button span {
	font-size: 0.8rem;
	border: 1px; 
}

/* Error & Validate */

#card_error {
	display: none;
	color: #E53935;
    font-family: Calibri, 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    margin-top: auto;
    cursor: default;
    padding: 0;
	padding-left: 15px;
}

#card_validate {
	display: none;
	color: green;
    font-family: Calibri, 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    margin: auto 0;
    cursor: default;
    padding: 0;
	padding-left: 15px;
}

/*
								CHECKOUT PAGE
-----------------------------------------------------------------------------------------------------------------------
*/



/*
-----------------------------------------------------------------------------------------------------------------------
								BOX ELEMENT
*/

:root {
	
}


/* Classic */
.box {
	height: var(--box-size);
	width:  var(--box-size);
	display: inline-block;
	text-decoration: none;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	cursor: pointer;

	transition: background-size .2s ease-out;
	
}

.box:hover {
	background-size: auto 105%;
}

.box > .inner {
	height: 100%;
	width: 100%;
	display: flex;
	background: rgba(0,0,0,0.33);
}

.box > .inner > .title {
	font-family: 'Segoe UI', sans-serif;
	font-size: 22px;
	color: white;
	margin: auto;
}

.box .sub-title {
	position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translate(50%, 00%);
    color: white;
	font-family: 'Calibri', sans-serif;
	white-space: nowrap;
}

/* Classic */


/* Large */
.box.large {
	height: var(--box-large-size);
	width: var(--box-large-size);
}

.box.large .title {
	font-weight: 600;
}
/* Large */

/*Animation*/

/*.box .title {
  display: inline-block;
  vertical-align: middle;
	transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}

.box .title:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: -3px;
  background: white;
  height: 2px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.box:hover .title:before, .box:hover .title:focus:before, .box:hover .title:active:before {
  left: 0;
  right: 0;
}*/

/*
								BOX ELEMENT
-----------------------------------------------------------------------------------------------------------------------
*/








/*
-----------------------------------------------------------------------------------------------------------------------
								BUTTON ELEMENT
*/



.button {
	height: 45px;
	width: 155px;
	display: flex !important;
	border-radius: 7px;
	background-color: var(--color-teal);
	border: 2px solid var(--color-teal-black);
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	overflow: hidden;
	cursor: pointer;
	transition-duration: 0.3s;
	transition-property: color, background-color;
}

.button span {
	margin: auto;
	font-family: 'Segoe UI', sans-serif;
	font-size: 1.1rem;
}

.button:hover, .button:focus, .button:active {
	background-color: #f5f5f5;
	border-color: black;
	color: black;
}

/*
								BUTTON ELEMENT
-----------------------------------------------------------------------------------------------------------------------
*/

